@import "{{ site.theme }}";
#header-color {
     background-image:url("https://github.com/joker-project/clef-2023/blob/main/img/bodychange1.png");
     background-color:#cd5c5c !important;
   
}
#banner { 
    background: #fffacd;
}
