$header-heading-color: #fff !default;
$header-bg-color: #f39c12;
$header-bg-color-secondary: #e67e22;
@import "{{ site.theme }}";
header {
     background-image:url("https://github.com/joker-project/clef-2023/blob/main/img/bodychange1.png");
     background-color:#444
}
#banner { 
    background: #D8AB4C;
}
